.row, .rows {
  display: inline-block;
  display: flex;
  flex-direction: row
}

.col, .columns {
  display: block;
  display: flex;
  flex-direction: column
}

.reverse {
  flex-direction: row-reverse
}

.wrap {
  flex-wrap: wrap
}

.no-wrap {
  flex-wrap: nowrap
}

.center {
  margin: 0 auto;
  justify-content: center
}

.start {
  justify-content: flex-start
}

.end {
  justify-content: flex-end
}

.around {
  justify-content: space-around
}

.between {
  justify-content: space-between
}

.dead-center {
  justify-content: center;
  align-items: center
}

.top {
  align-items: flex-start
}

.middle {
  align-items: center
}

.bottom {
  align-items: flex-end
}

.top-left {
  justify-content: flex-start
}

.top-left, .top-mid {
  align-items: flex-start
}

.top-mid {
  justify-content: center
}

.top-right {
  justify-content: flex-end;
  align-items: flex-start
}

.mid-left {
  justify-content: flex-start;
  align-items: center
}

.mid-right {
  justify-content: flex-end;
  align-items: center
}

.bottom-left {
  justify-content: flex-start;
  align-items: flex-end
}

.bottom-mid {
  justify-content: center;
  align-items: flex-end
}

.bottom-right {
  justify-content: flex-end;
  align-items: flex-end
}

@media screen and (max-width:600px) {
  .stack-mobile {
    flex-direction: column
  }
}

@media screen and (max-width:600px) {
  .center-mobile {
    justify-content: center
  }
}

@media screen and (max-width:768px) {
  .stack-tablet {
    flex-direction: column
  }
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap
}

.block {
  display: block
}

.inline-block {
  display: inline-block
}

.hidden {
  display: none
}

.visually-hidden {
  position: absolute;
  opacity: 0;
  z-index: -100
}

.dead-center {
  align-items: center
}

.top {
  align-items: flex-start
}

.middle {
  align-items: center
}

.bottom {
  align-items: flex-end
}

.top-left, .top-mid {
  align-items: flex-start
}

@media screen and (max-width:600px) {
  .stack-mobile {
    flex-direction: column
  }
}

@media screen and (max-width:600px) {
  .center-mobile {
    justify-content: center
  }
}

@media screen and (max-width:768px) {
  .stack-tablet {
    flex-direction: column
  }
}

.block {
  display: block
}

.inline-block {
  display: inline-block
}

.hidden {
  display: none
}

.visually-hidden {
  position: absolute;
  opacity: 0;
  z-index: -100
}

.row, .rows {
  display: inline-block;
  display: flex;
  flex-direction: row
}

.col, .columns {
  display: block;
  display: flex;
  flex-direction: column
}

.reverse {
  flex-direction: row-reverse
}

.wrap {
  flex-wrap: wrap
}

.no-wrap {
  flex-wrap: nowrap
}

.center {
  margin: 0 auto;
  justify-content: center
}

.start {
  justify-content: flex-start
}

.end {
  justify-content: flex-end
}

.around {
  justify-content: space-around
}

.between {
  justify-content: space-between
}

.dead-center {
  justify-content: center
}

.dead-center, .middle {
  align-items: center
}

.top-left {
  justify-content: flex-start
}

.top-left, .top-mid {
  align-items: flex-start
}

.top-mid {
  justify-content: center
}

.top-right {
  justify-content: flex-end;
  align-items: flex-start
}

.mid-left {
  justify-content: flex-start;
  align-items: center
}

.mid-right {
  justify-content: flex-end;
  align-items: center
}

.bottom-left {
  justify-content: flex-start;
  align-items: flex-end
}

.bottom-mid {
  justify-content: center;
  align-items: flex-end
}

.bottom-right {
  justify-content: flex-end;
  align-items: flex-end
}

@media screen and (max-width:600px) {
  .stack-mobile {
    flex-direction: column
  }
}

@media screen and (max-width:600px) {
  .center-mobile {
    justify-content: center
  }
}

@media screen and (max-width:769px) {
  .stack-tablet {
    flex-direction: column
  }
}

.grid-2x2 {
  background: red;
  width: 50%
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap
}