<!DOCTYPE html>
<html>

<head>
  <title>Welcome to Vue</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="fleck.css">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://unpkg.com/vue"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script> -->
</head>

<body>
  <header class="row dead-center">
    <h1>Tweet Composer</h1>
  </header>
  <main id="app">
    <div class=" container row top stack-mobile">
      <div class="compose col bottom-right">
        <span>@{{username}}</span>
        
        <textarea rows="8"
                  v-model="newTweetText" 
                  @keyup.enter="submitTweet()">
        </textarea>
        
        <button :disabled="newTweetText === ''" 
                @click="submitTweet()"
                >Tweet
        </button>
      </div>
      
      <div class="feed">
        <ul class="tweets">
          <li v-if="tweets.length === 0" 
              class="untweet"
          >There's nothing here.
          </li>
          
          <li v-for="tweet, index in tweets" 
              class="tweet"
          >
            <p class="poster">
              @{{tweet.username}} | {{tweet.timestamp}}
            </p>
            <p>
              {{tweet.text}}
            </p>
            <div class="row around">
              <i class="fa" :class="faved(index)" @click="toggleFav(index)"></i>
              <i class="fa fa-trash-o" @mouseover="fillTrashIcon($event)" @mouseleave="emptyTrashIcon($event)" @click="deleteTweet(index)"></i>
            </div>
          </li>
          
        </ul>
      </div>
    </div>
  
  </main>

  <script src="main.js"></script>
</body>

</html>